/* Global styles */
html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body {
    cursor: pointer;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Main page styles */
.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    transition: all 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    font-size: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.panel-1 {
    background-image: url("img_gallery/img_gallery-lets.jpg");
}

.panel-2 {
    background-image: url("img_gallery/img_gallery-explore.jpg");
}

.panel-3 {
    background-image: url("img_gallery/img_gallery-the.jpg");
}

.panel-4 {
    background-image: url("img_gallery/img_gallery-world.jpg");
}

.panel-5 {
    background-image: url("/img_gallery/img_gallery-together.jpg");
}

/* Flex Items */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .panel > *:first-child {
        transform: translateY(-100%);
    }

    .panel > *:last-child {
        transform: translateY(100%);
    }

.panel.open-active > *:first-child,
.panel.open-active > *:last-child {
    transform: translateY(0);
}

.panel p {
    text-transform: uppercase;
    font-family: 'Roboto', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

    .panel p:nth-child(2) {
        font-size: 4em;
    }

.panel.open {
    flex: 5;
    font-size: 40px;
}

@media only screen and (max-width : 1100px) {
    .panels {
        flex-direction: column;
    }

    .panel > * {
        flex: 1 0 25vh;
    }

    .panel p {
        font-size: 1em;
    }

        .panel p:nth-child(2) {
            font-size: 2em;
        }

    .panel > *:first-child {
        flex-basis: 5vh;
        transform: translateX(-100%);
    }

    .panel > *:last-child {
        flex-basis: 5vh;
        transform: translateX(100%);
    }

    .panel.open-active > *:first-child,
    .panel.open-active > *:last-child {
        transform: tanslateX(0);
        padding: 2em;
    }
}
